
@import "tailwindcss";

.animated-underline {
  position: relative;
  display: inline-block;
}

.animated-underline::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-image: linear-gradient(to right, #a855f7, #117df0); /* Tailwind purple-500 */
  transition: width 0.3s ease;
}

.animated-underline:hover::after {
  width: 100%;
}